{% extends 'base.html.twig' %}
{% block title 'All Jobs' %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.address) }}
                </div>
                <div class="col">
                    {{ form_row(form.minSalary) }}
                </div>
                <div class="col">
                    {{ form_row(form.technos) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container mt-4 text-center">
        <h1> All Jobs </h1>
        <div class="row">
            {% for job in jobs %}
                <div class="col-md-4">
                    {% include 'job/_job.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(jobs) }}
        </div>
    </div>
{% endblock %}

